.container {
  display: flex;
  justify-content: center;

  @media (max-width:600px) {
    padding: 1rem;
  }

  @media (max-width:325px) {
    padding: 4px;
  }

  .game_container {
    width: 500px;
    padding: 8px;
    border-radius: 6px;
    background-color: #bbada0;
    position: relative;

    @media (max-width:600px) {
      width: 100%;
    }

    @media (max-width:426px) {
      width: 100%;
      height: auto;
    }



    .tile_row {
      display: flex;
      justify-content: center;

      .cell {
        width: 210px;
        height: 107px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 52px;
        font-weight: 700;
        background: #eee4da59;
        color: #776e65;
        border-radius: 4px;
        margin: 7px;
        animation: popping 0.5s linear 1;

        @media (max-width:426px) {
          height: 90px;
          font-size: 42px;
        }

        @media (max-width:376px) {
          height: 70px;
        }

        @keyframes popping {
          25% {
            transform: scale(0.9);
          }

          75% {
            transform: scale(1.1);
          }
        }

      }
    }
  }
}