// IF PLAYER WON! 

.container,
.gameOver {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 100;
  display: flex;
  transition: 1s ease-in-out;
  transition-property: all;
  opacity: 1;
  box-shadow: inset 0 0 50px 20px orange;
  background: rgba(240, 237, 234, 0.8);
  border-radius: 6px;
  animation: win 2s linear infinite;

  @media (max-width:600px) {
    width: 100%;
    height: 100%;
  }

  .game_message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;

    h1 {
      font-size: 55px;
      color: orange;

      @media (max-width:376px) {
        font-size: 48px;
      }
    }

    button {
      padding: 12px 20px;
      background-color: orange;
      font-size: 18px;
      font-weight: bold;
      color: white;
      border-radius: 4px;
      text-transform: uppercase;
      border: none;
      transition: 0.3s;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #bc7b02;
      }
    }
  }

  @keyframes win {
    25% {
      box-shadow: inset 5px 0 50px 2px orange;
    }

    75% {
      box-shadow: inset 5px 0 50px 35px orange;
    }
  }

}


.containerNone {
  display: none;
  // opacity: 0;
}



// IF GAME OVER 
.gameOver {
  position: absolute;
  box-shadow: inset 0 0 50px 20px #BD070D;
  animation: gameOver 3s linear infinite;

  @keyframes gameOver {
    25% {
      box-shadow: inset 5px 0 50px 2px #BD070D;
    }

    75% {
      box-shadow: inset 5px 0 50px 25px #BD070D;
    }
  }

  .game_message {
    h1 {
      color: #BD070D;
    }

    button {
      background-color: #BD070D;

      &:hover {
        background-color: #cb3918;
      }
    }
  }
}